@import helpers/variables
@import layout/header
@import pages/index
@import pages/mymap
@import pages/play
@import pages/signUp

body
  background-color: #000
  text-align: center
  margin: 0 auto
  max-width: 432px
  max-height: 768px
  font-family: $text
  font-weight: 600px
  font-size: 30px
  color: $primary-color

h1, h2, h3, h4, h5, h6
  margin: 0px
  font-family: $header
  font-size: 50px

main
  text-align: center

button
  background-color: $primary-color
  border: none
  cursor: pointer
