.login, .signUp, .myAdventuresDiv
  input
    width: 90%
    background-color: $primary-color
    height: 13vh
    margin-bottom: 2vh
    font-size: 40px
    border: none
    font-weight: bold
    text-align: center
    font-family: $text
    border-bottom: 2px solid grey
    border-radius: 5px
    @media (min-width: $desktop)
      width: 60%

.header
  height: 10vh
  h1
    font-size: 40px

::-webkit-input-placeholder
  color: black
  font-family: $text
