.login, .signUp
  input
    width: 90%
    background-color: $primary-color
    height: 13vh
    margin-bottom: 2vh
    font-size: 40px
    border: none
    font-weight: bold
    text-align: center
    font-family: $text
    border-bottom: 2px solid grey
    border-radius: 5px
  button
    height: 60px
    margin: 3vh
    line-height: 0px
    width: 70%
    font-size: 40px
    font-weight: bold
    font-family: $header
    border-radius: 5px

::-webkit-input-placeholder
  color: black
  font-family: $text
